<div class="analytics-row">
  <div class="row">
    <div class="col-md-3">
      <div class="analytics-card">
        <div class="floating-card">
          <i class="bi bi-people"></i>
        </div>
        <div class="card-header bg-transparent border-0 text-end">
          <small>Total users</small>
          <h6>234</h6>
        </div>
        <hr>
        <div class="card-content bg-transparent border-0">
          <small>Last updated: 23/02/2023</small>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="analytics-card">
        <div class="floating-card">
          <i class="bi bi-eye"></i>
        </div>
        <div class="card-header bg-transparent border-0 text-end">
          <small>Page visits</small>
          <h6>234</h6>
        </div>
        <hr>
        <div class="card-content bg-transparent border-0">
          <small>Last updated: 23/02/2023</small>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="analytics-card">
        <div class="floating-card">
          <i class="bi bi-chat"></i>
        </div>
        <div class="card-header bg-transparent border-0 text-end">
          <small>Total posts</small>
          <h6>234</h6>
        </div>
        <hr>
        <div class="card-content bg-transparent border-0">
          <small>Last updated: 23/02/2023</small>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="analytics-card">
        <div class="floating-card">
          <i class="bi bi-chat-left"></i>
        </div>
        <div class="card-header bg-transparent border-0 text-end">
          <small>Total comments</small>
          <h6>234</h6>
        </div>
        <hr>
        <div class="card-content bg-transparent border-0">
          <small>Last updated: 23/02/2023</small>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-8">
    <!-- Table -->
    <div class="card-table">
      <div class="card-table-header">
        <h5>Recent comments</h5>
      </div>
      <div class="table-responsive">
        <table class="table table-sm">
          <thead>
          <tr>
            <th scope="col">
              Author
            </th>
            <th scope="col">Function</th>
            <th scope="col">Status</th>
            <th scope="col">Created On</th>
            <th scope="col">Actions</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td class="author">
              <img src="assets/images/sherrold.jpg" alt="">
              <div>
                <h6>Username</h6>
                <small>username@email.com</small>
              </div>
            </td>
            <td>Super Admin</td>
            <td class="status">
              <span class="active text-white">active</span>
            </td>
            <td class="date">02 Jun 2023</td>
            <td>
              <a href="" class="mx-2">
                <i class="bi bi-trash"></i>
              </a>
              <a href="" class="mx-2">
                <i class="bi bi-pen"></i>
              </a>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <!-- Table -->
    <div class="card-table">
      <div class="card-table-header">
        <h5>New users</h5>
      </div>
    </div>
  </div>
</div>
