<div class="card-table my-5">
  <div class="card-table-header">
    <h5>Comments</h5>
  </div>
  <div class="table-responsive">
    <table class="table table-sm">
      <thead>
      <tr>
        <th scope="col">
          Author
        </th>
        <th scope="col">Function</th>
        <th scope="col">Status</th>
        <th scope="col">Created On</th>
        <th scope="col">Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td class="author">
          <img src="assets/images/sherrold.jpg" alt="">
          <div>
            <h6>Username</h6>
            <small>username@email.com</small>
          </div>
        </td>
        <td>Super Admin</td>
        <td class="status">
          <span class="active text-white">active</span>
        </td>
        <td class="date">02 Jun 2023</td>
        <td>
          <a href="" class="mx-2" title="Delete">
            <i class="bi bi-trash"></i>
          </a>
          <a href="" class="mx-2" title="edit">
            <i class="bi bi-pen"></i>
          </a>
        </td>
      </tr>
      <tr>
        <td class="author">
          <img src="assets/images/sherrold.jpg" alt="">
          <div>
            <h6>Username</h6>
            <small>tst@email.com</small>
          </div>
        </td>
        <td>Writer</td>
        <td class="status">
          <span class="pending text-white">pending</span>
        </td>
        <td class="date">02 Jun 2023</td>
        <td>
          <a href="" class="mx-2">
            <i class="bi bi-trash"></i>
          </a>
          <a href="" class="mx-2">
            <i class="bi bi-pen"></i>
          </a>
        </td>
      </tr>
      <tr>
        <td class="author">
          <img src="assets/images/sherrold.jpg" alt="">
          <div>
            <h6>Username</h6>
            <small>username@email.com</small>
          </div>
        </td>
        <td>Moderator</td>
        <td class="status">
          <span class="inactive text-white">inactive</span>
        </td>
        <td class="date">02 Jun 2023</td>
        <td>
          <a href="" class="mx-2" title="Delete">
            <i class="bi bi-trash"></i>
          </a>
          <a href="" class="mx-2" title="Edit">
            <i class="bi bi-pen"></i>
          </a>
        </td>
      </tr>
      <tr>
        <td class="author">
          <img src="assets/images/sherrold.jpg" alt="">
          <div>
            <h6>Username</h6>
            <small>username@email.com</small>
          </div>
        </td>
        <td>Moderator</td>
        <td class="status">
          <span class="pending text-white">pending</span>
        </td>
        <td class="date">02 Jun 2023</td>
        <td>
          <a href="" class="mx-2">
            <i class="bi bi-trash"></i>
          </a>
          <a href="" class="mx-2">
            <i class="bi bi-pen"></i>
          </a>
        </td>
      </tr>
      <tr>
        <td class="author">
          <img src="assets/images/sherrold.jpg" alt="">
          <div>
            <h6>Username</h6>
            <small>username@email.com</small>
          </div>
        </td>
        <td>Moderator</td>
        <td class="status">
          <span class="active text-white">active</span>
        </td>
        <td class="date">02 Jun 2023</td>
        <td>
          <a href="" class="mx-2">
            <i class="bi bi-trash"></i>
          </a>
          <a href="" class="mx-2">
            <i class="bi bi-pen"></i>
          </a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
<!-- Table -->
