<div class="card-table my-5">
  <div class="card-table-header">
    <h5>Subscribers</h5>
  </div>
  <div class="table-responsive">
    <table class="table table-sm">
      <thead>
      <tr>
        <th scope="col">
          #
        </th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Delete</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let subscriber of subArray; let i = index">
        <td>{{ i + 1}}</td>
        <td class="">
          {{ subscriber.data.name }}
        </td>
        <td class="">
          {{ subscriber.data.email }}
        </td>
        <td>
          <a (click)="onDelete(subscriber.id)" class="mx-2" title="Delete">
            <i class="bi bi-trash"></i>
          </a>
        </td>
      </tr>

      </tbody>
    </table>
  </div>
</div>
<!-- Table -->
